[submodule "solc_source_code/250/0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad/lib/forge-std"]
	path = solc_source_code/250/0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
